.bg-light{
    background-color:transparent !important;
   
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
#header_right{
    color: white;
}
.navbar-brand{
    font-size:16px;
    font-family: 'Jura', sans-serif;
    font-weight: bold; 
}
.nav-item{
    font-size:15px;
    margin-left:25px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}