<body class="body">
  <app-header></app-header>
  
  <div class="container-fluid bg">   
          <div class="slide-left">
                  <h1>HI, I Am</h1>
                  <h1>Dr. RASHMI <sub style="font-size:30px;">MBBS, MD</sub></h1>        
          </div>
  
          
  </div><br><br><br>
  
  <div class="row rowover">
         
          <div class="col-md-2">
                  <h1 style="font-size:30px;color:#003152;font-weight:bold;">OVERVIEW</h1>
          </div>
          <div class="col-md-10" style="margin-top:10px;">
                  <hr>
          </div>
          
  </div><br><br>
  
  
  <div class="row rowhome">
          <div class="col-md-4 content">
                  <div class="boxcontent">
                         <a href="#"><img src="assets/images/doc.jpeg" alt="Avatar" class="image"></a> 
                          <div class="overlay">
                                  <div class="text">About Me</div>
                          </div>
                  </div>
  
          </div>
          <div class="col-md-4 content">
                  <div class="boxcontent">
                          <img src="assets/images/act.jpeg" alt="Avatar" class="image">
                          <div class="overlay">
                                  <div class="text">Activities</div>
                          </div>
                  
                  </div>
                  
          </div>
          <div class="col-md-4 content">
                  <div class="boxcontent">
                          <img src="assets/images/contact.jpg" alt="Avatar" class="image">
                          <div class="overlay">
                                  <div class="text">Contact</div>
                          </div>
                  
                  </div>
          </div>
  </div><br><br><br><br><br><br><br>
  
  <app-footer></app-footer>
  </body>